<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INSendMessageIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Invia un messaggio su Meshtastic</string>
				<string>Invia un messaggio Meshtastic a Marco</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INSearchForMessagesIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Cerca messaggi su Meshtastic</string>
				<string>Trova messaggi su Meshtastic</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INSetMessageAttributeIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Segna il messaggio Meshtastic come letto</string>
				<string>Segna i messaggi Meshtastic come letti</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
