<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgg3l8dl5j4XbpHMAIcr7_LVuIobDPLTE</string>
	<key>GCM_SENDER_ID</key>
	<string>65845712461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>c4t.dr34m.mobi.meowtastic</string>
	<key>PROJECT_ID</key>
	<string>c4t-dr34m-mobi-meowtastic</string>
	<key>STORAGE_BUCKET</key>
	<string>c4t-dr34m-mobi-meowtastic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:65845712461:ios:11e452240a87d686c92e04</string>
</dict>
</plist>
