<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>shareLocationTitle</string>
			<key>Title</key>
			<string>Will share your phone GPS location with your node.</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>provideLocation</string>
			<key>Title</key>
			<string>Share Location</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Thirty Seconds</string>
			<key>Key</key>
			<string>provideLocationInterval</string>
			<key>ShortTitles</key>
			<array>
				<string>10s</string>
				<string>15s</string>
				<string>30s</string>
				<string>45s</string>
				<string>1m</string>
				<string>5m</string>
				<string>10m</string>
				<string>15m</string>
			</array>
			<key>Title</key>
			<string>Interval</string>
			<key>Titles</key>
			<array>
				<string>Ten Seconds</string>
				<string>Fifteen Seconds</string>
				<string>Thirty Seconds</string>
				<string>Forty Five Seconds</string>
				<string>One Minute</string>
				<string>Five Minutes</string>
				<string>Ten Minutes</string>
				<string>Fifteen Minutes</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>10</integer>
				<integer>15</integer>
				<integer>30</integer>
				<integer>45</integer>
				<integer>60</integer>
				<integer>300</integer>
				<integer>600</integer>
				<integer>900</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>enableSmartPosition</string>
			<key>Title</key>
			<string>Accurate Locations Only</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Notifications</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>channelMessageNotifications</string>
			<key>Title</key>
			<string>Channel Messages</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>newNodeNotifications</string>
			<key>Title</key>
			<string>New Nodes</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>lowBatteryNotifications</string>
			<key>Title</key>
			<string>Low Battery</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Acknowledgments</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgments</string>
			<key>Title</key>
			<string>Acknowledgments</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
