<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INSendMessageIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Meshtastic에서 메시지 보내기</string>
				<string>Meshtastic로 민수에게 메시지 보내</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INSearchForMessagesIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Meshtastic 메시지 검색</string>
				<string>Meshtastic에서 메시지 찾기</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INSetMessageAttributeIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Meshtastic 메시지를 읽음으로 표시</string>
				<string>Meshtastic 메시지 읽음 처리</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
