<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INSendMessageIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Skicka ett meddelande på Meshtastic</string>
				<string>Skicka ett Meshtastic-meddelande till Erik</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INSearchForMessagesIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Sök Meshtastic-meddelanden</string>
				<string>Hitta meddelanden på Meshtastic</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INSetMessageAttributeIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Markera Meshtastic-meddelande som läst</string>
				<string>Markera Meshtastic-meddelanden som lästa</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
